#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of Popular Languages in DataScience
- Open Source Data Science Tools
- Phases of Data Analysis
- Introduction to Python & R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Seaborn
4. Pandas

###Table of Data Science tools

|Data Science Tools |
| ------ |
| Jupyter Notebook |
| RStudio |
| SAS |
| Tensorflow |
| Spark |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

##Author:
Ashok Kumar Bera